<h2>Colours</h2>
<p>Convey meaning through colour with a handful of color utility classes.</p>
<ul>
    <li>
        <label>Primary</label>
        <i class="symbol symbol-rounded background-primary"></i>
        <code>.colour-primary</code>
    </li>
    <li>
        <label>Success</label>
        <i class="symbol symbol-rounded background-success"></i>
        <code>.colour-success</code>
    </li>
    <li>
        <label>Danger</label>
        <i class="symbol symbol-rounded background-danger"></i>
        <code>.colour-danger</code>
    </li>
    <li>
        <label>Info</label>
        <i class="symbol symbol-rounded background-info"></i>
        <code>.colour-info</code>
    </li>
    <li>
        <label>Warning</label>
        <i class="symbol symbol-rounded background-warning"></i>
        <code>.colour-warning</code>
    </li>
</ul>