<h2>Colours</h2>
<p>Convey meaning through colour with a handful of color utility classes.</p>
<ul>
    <li>
        <label>Primary</label>
        <i class="symbol background-primary"></i>
        <div><code>.colour-primary</code> Something here</div>
        <div><code>.background-primary</code></div>
        <div><code>.border-colour-primary</code></div>
    </li>
    <li>
        <label>Success</label>
        <i class="symbol background-success"></i>
    </li>
    <li>
        <label>Danger</label>
        <i class="symbol background-danger"></i>
    </li>
    <li>
        <label>Info</label>
        <i class="symbol background-info"></i>
    </li>
</ul>