<h2>Buttons</h2>
<p>Buttons allow users to take actions, and make choices, with a single tap.</p>
<div class="section-wrap">

    <h3>Style</h3>
    <p><code>data-style="default"</code></p>
    <ul>
        <li><button class="button" data-intent="default"><span>Default</span></button></li>
        <li><button class="button" data-intent="primary"><span>Primary</span></button></li>
        <li><button class="button" data-intent="success"><span>Success</span></button></li>
        <li><button class="button" data-intent="danger"><span>Danger</span></button></li>
        <li><button class="button" data-intent="info"><span>Info</span></button></li>
        <li><button class="button" data-intent="warning"><span>Warning</span></button></li>
    </ul>
    <p><code>data-style="fill"</code></p>
    <ul>
        <li><button class="button" data-style="fill" data-intent="default"><span>Default</span></button></li>
        <li><button class="button" data-style="fill" data-intent="primary"><span>Primary</span></button></li>
        <li><button class="button" data-style="fill" data-intent="success"><span>Success</span></button></li>
        <li><button class="button" data-style="fill" data-intent="danger"><span>Danger</span></button></li>
        <li><button class="button" data-style="fill" data-intent="info"><span>Info</span></button></li>
        <li><button class="button" data-style="fill" data-intent="warning"><span>Warning</span></button></li>
    </ul>
    <p><code>data-style="minimal"</code></p>
    <ul>
        <li><button class="button" data-style="minimal" data-intent="default"><span>Default</span></button></li>
        <li><button class="button" data-style="minimal" data-intent="primary"><span>Primary</span></button></li>
        <li><button class="button" data-style="minimal" data-intent="success"><span>Success</span></button></li>
        <li><button class="button" data-style="minimal" data-intent="danger"><span>Danger</span></button></li>
        <li><button class="button" data-style="minimal" data-intent="info"><span>Info</span></button></li>
        <li><button class="button" data-style="minimal" data-intent="warning"><span>Warning</span></button></li>
    </ul>

    <h3>Size</h3>
    <p><code>data-size="tiny"</code></p>
    <ul>
        <li><button class="button" data-size="tiny"><span>Tiny</span></button></li>
        <li><button class="button" data-size="small"><span>Small</span></button></li>
        <li><button class="button" data-size="medium"><span>Medium</span></button></li>
        <li><button class="button" data-size="large"><span>Large</span></button></li>
        <li><button class="button" data-size="massive"><span>Massive</span></button></li>
    </ul>

    <h3>State</h3>
    <p><code>disabled</code></p>
    <ul>
        <li><button class="button" data-intent="default" disabled><span>Default</span></button></li>
        <li><button class="button" data-intent="primary" disabled><span>Primary</span></button></li>
        <li><button class="button" data-intent="success" disabled><span>Success</span></button></li>
        <li><button class="button" data-intent="danger" disabled><span>Danger</span></button></li>
        <li><button class="button" data-intent="info" disabled><span>Info</span></button></li>
        <li><button class="button" data-intent="warning" disabled><span>Warning</span></button></li>
    </ul>
</div>
