<h2>Dialog</h2>
<p>Display dialog actions based on specific activity.</p>
<div class="section-wrap">
    <ul>
        <li>
            <pre>
                <code>
                    function roundNumber() {
                        var rounded = Math.round(200.02)
                    }
                </code>
            </pre>
            <div class="dialog">

            </div>
            <button class="button open-dialog">
                <span>Open dialog</span>
            </button>
        </li>
    </ul>
</div>
