<h2>Fields</h2>
<p>Accomodate all potential uses of text fields.</p>
<div class="section-wrap">
    <h3>Intent</h3>
    <ul>
        <li>
            <p><code>data-intent="default"</code></p>
            <input class="field" type="text" data-intent="default" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-intent="success"</code></p>
            <input class="field" type="text" data-intent="success" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-intent="danger"</code></p>
            <input class="field" type="text" data-intent="danger" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-intent="info"</code></p>
            <input class="field" type="text" data-intent="info" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-intent="warning"</code></p>
            <input class="field" type="text" data-intent="warning" placeholder="Your text here">
        </li>
    </ul>

    <h3>State</h3>
    <ul>
        <li>
            <p><code>data-state="waiting"</code></p>
            <input class="field" type="text" data-state="waiting" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-state="focus"</code></p>
            <input class="field" type="text" data-state="focus" placeholder="Your text here">
        </li>
        <li>
            <p><code>data-state="disabled"</code></p>
            <input class="field" type="text" data-state="disabled" placeholder="Your text here">
        </li>
    </ul>

    <h3>Before</h3>
    <ul>
        <li>
            <p><code>data-before="icon-search"</code></p>
            <input class="field" type="text" data-before="icon-search" placeholder="Your text here">
        </li>
    </ul>

    <h3>After</h3>
    <ul>
        <li>
            <p><code>data-after="icon-search"</code></p>
            <input class="field" type="text" data-after="icon-search" placeholder="Your text here">
        </li>
    </ul>
</div>
