<h2>Toasts</h2>
<p>Display feedback about an operation in which current activity remains visible.</p>
<div class="section-wrap">
    <h3>Intent</h3>
    <ul>
        <li>
            <p><code>data-intent="default"</code></p>
            <div class="toast" data-intent="default">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Default</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
        <li>
            <p><code>data-intent="primary"</code></p>
            <div class="toast" data-intent="primary">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Primary</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
        <li>
            <p><code>data-intent="success"</code></p>
            <div class="toast" data-intent="success">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Success</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
        <li>
            <p><code>data-intent="danger"</code></p>
            <div class="toast" data-intent="danger">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Danger</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
        <li>
            <p><code>data-intent="info"</code></p>
            <div class="toast" data-intent="info">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Info</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
        <li>
            <p><code>data-intent="info"</code></p>
            <div class="toast" data-intent="warning">
                <svg class="icon toast-icon"><use xlink:href="#icon-notifications"></use></svg>
                <div class="toast-title">Warning</div>
                <p class="toast-text">Example notification. You can write anything here.</p>
            </div>
        </li>
    </ul>
</div>
