<h2>Iconography</h2>

<svg class="icon"><use xlink:href="#icon-add-to-folder"></use></svg>
<svg class="icon"><use xlink:href="#icon-add"></use></svg>
<svg class="icon"><use xlink:href="#icon-airplane"></use></svg>
<svg class="icon"><use xlink:href="#icon-align-center"></use></svg>
<svg class="icon"><use xlink:href="#icon-align-justify"></use></svg>
<svg class="icon"><use xlink:href="#icon-align-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-align-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-alignment-bottom"></use></svg>
<svg class="icon"><use xlink:href="#icon-application"></use></svg>
<svg class="icon"><use xlink:href="#icon-applications"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-bottom-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-bottom-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-top-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-top-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrow-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrows-horizontal"></use></svg>
<svg class="icon"><use xlink:href="#icon-arrows-vertical"></use></svg>
<svg class="icon"><use xlink:href="#icon-automatic-updates"></use></svg>
<svg class="icon"><use xlink:href="#icon-ban-circle"></use></svg>
<svg class="icon"><use xlink:href="#icon-blocked-person"></use></svg>
<svg class="icon"><use xlink:href="#icon-bookmark"></use></svg>
<svg class="icon"><use xlink:href="#icon-box"></use></svg>
<svg class="icon"><use xlink:href="#icon-briefcase"></use></svg>
<svg class="icon"><use xlink:href="#icon-build"></use></svg>
<svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
<svg class="icon"><use xlink:href="#icon-camera"></use></svg>
<svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-caret-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-caret-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-caret-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-chat"></use></svg>
<svg class="icon"><use xlink:href="#icon-chevron-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-chevron-forward"></use></svg>
<svg class="icon"><use xlink:href="#icon-chevron-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-chevron-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-circle-arrow-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-circle-arrow-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-circle-arrow-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-circle-arrow-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-circle"></use></svg>
<svg class="icon"><use xlink:href="#icon-clean"></use></svg>
<svg class="icon"><use xlink:href="#icon-clipboard"></use></svg>
<svg class="icon"><use xlink:href="#icon-cloud-download"></use></svg>
<svg class="icon"><use xlink:href="#icon-cloud-upload"></use></svg>
<svg class="icon"><use xlink:href="#icon-cloud"></use></svg>
<svg class="icon"><use xlink:href="#icon-code-block"></use></svg>
<svg class="icon"><use xlink:href="#icon-code"></use></svg>
<svg class="icon"><use xlink:href="#icon-cog"></use></svg>
<svg class="icon"><use xlink:href="#icon-comment"></use></svg>
<svg class="icon"><use xlink:href="#icon-comparison"></use></svg>
<svg class="icon"><use xlink:href="#icon-compressed"></use></svg>
<svg class="icon"><use xlink:href="#icon-confirm"></use></svg>
<svg class="icon"><use xlink:href="#icon-console"></use></svg>
<svg class="icon"><use xlink:href="#icon-credit-card"></use></svg>
<svg class="icon"><use xlink:href="#icon-cross"></use></svg>
<svg class="icon"><use xlink:href="#icon-crown"></use></svg>
<svg class="icon"><use xlink:href="#icon-cube"></use></svg>
<svg class="icon"><use xlink:href="#icon-cut"></use></svg>
<svg class="icon"><use xlink:href="#icon-dashboard"></use></svg>
<svg class="icon"><use xlink:href="#icon-database"></use></svg>
<svg class="icon"><use xlink:href="#icon-delete"></use></svg>
<svg class="icon"><use xlink:href="#icon-diagram-tree"></use></svg>
<svg class="icon"><use xlink:href="#icon-disable"></use></svg>
<svg class="icon"><use xlink:href="#icon-document"></use></svg>
<svg class="icon"><use xlink:href="#icon-double-chevron-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-double-chevron-left"></use></svg>
<svg class="icon"><use xlink:href="#icon-double-chevron-right"></use></svg>
<svg class="icon"><use xlink:href="#icon-double-chevron-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-doughnut-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-download"></use></svg>
<svg class="icon"><use xlink:href="#icon-drag-handle-horizontal"></use></svg>
<svg class="icon"><use xlink:href="#icon-drag-handle-vertical"></use></svg>
<svg class="icon"><use xlink:href="#icon-draw"></use></svg>
<svg class="icon"><use xlink:href="#icon-drive-time"></use></svg>
<svg class="icon"><use xlink:href="#icon-duplicate"></use></svg>
<svg class="icon"><use xlink:href="#icon-edit"></use></svg>
<svg class="icon"><use xlink:href="#icon-endorsed"></use></svg>
<svg class="icon"><use xlink:href="#icon-envelope"></use></svg>
<svg class="icon"><use xlink:href="#icon-error"></use></svg>
<svg class="icon"><use xlink:href="#icon-export"></use></svg>
<svg class="icon"><use xlink:href="#icon-eye-off"></use></svg>
<svg class="icon"><use xlink:href="#icon-eye-on"></use></svg>
<svg class="icon"><use xlink:href="#icon-eye-open"></use></svg>
<svg class="icon"><use xlink:href="#icon-film"></use></svg>
<svg class="icon"><use xlink:href="#icon-filter-keep"></use></svg>
<svg class="icon"><use xlink:href="#icon-filter-list"></use></svg>
<svg class="icon"><use xlink:href="#icon-filter-open"></use></svg>
<svg class="icon"><use xlink:href="#icon-filter-remove"></use></svg>
<svg class="icon"><use xlink:href="#icon-filter"></use></svg>
<svg class="icon"><use xlink:href="#icon-flag"></use></svg>
<svg class="icon"><use xlink:href="#icon-flame"></use></svg>
<svg class="icon"><use xlink:href="#icon-floppy-disk"></use></svg>
<svg class="icon"><use xlink:href="#icon-folder-close"></use></svg>
<svg class="icon"><use xlink:href="#icon-folder-new"></use></svg>
<svg class="icon"><use xlink:href="#icon-folder-open"></use></svg>
<svg class="icon"><use xlink:href="#icon-fork"></use></svg>
<svg class="icon"><use xlink:href="#icon-form"></use></svg>
<svg class="icon"><use xlink:href="#icon-full-circle"></use></svg>
<svg class="icon"><use xlink:href="#icon-gantt-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-branch"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-commit"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-merge"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-new-branch"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-pull"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-push"></use></svg>
<svg class="icon"><use xlink:href="#icon-git-repo"></use></svg>
<svg class="icon"><use xlink:href="#icon-globe-network"></use></svg>
<svg class="icon"><use xlink:href="#icon-globe"></use></svg>
<svg class="icon"><use xlink:href="#icon-graph"></use></svg>
<svg class="icon"><use xlink:href="#icon-grid"></use></svg>
<svg class="icon"><use xlink:href="#icon-group-objects"></use></svg>
<svg class="icon"><use xlink:href="#icon-grouped-bar-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-hand"></use></svg>
<svg class="icon"><use xlink:href="#icon-headset"></use></svg>
<svg class="icon"><use xlink:href="#icon-heart"></use></svg>
<svg class="icon"><use xlink:href="#icon-help"></use></svg>
<svg class="icon"><use xlink:href="#icon-helper-management"></use></svg>
<svg class="icon"><use xlink:href="#icon-highlight"></use></svg>
<svg class="icon"><use xlink:href="#icon-history"></use></svg>
<svg class="icon"><use xlink:href="#icon-home"></use></svg>
<svg class="icon"><use xlink:href="#icon-horizontal-bar-chart-asc"></use></svg>
<svg class="icon"><use xlink:href="#icon-horizontal-bar-chart-desc"></use></svg>
<svg class="icon"><use xlink:href="#icon-horizontal-bar-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-id-number"></use></svg>
<svg class="icon"><use xlink:href="#icon-import"></use></svg>
<svg class="icon"><use xlink:href="#icon-inbox"></use></svg>
<svg class="icon"><use xlink:href="#icon-info-sign"></use></svg>
<svg class="icon"><use xlink:href="#icon-insert"></use></svg>
<svg class="icon"><use xlink:href="#icon-key-delete"></use></svg>
<svg class="icon"><use xlink:href="#icon-key"></use></svg>
<svg class="icon"><use xlink:href="#icon-known-vehicle"></use></svg>
<svg class="icon"><use xlink:href="#icon-label"></use></svg>
<svg class="icon"><use xlink:href="#icon-layer"></use></svg>
<svg class="icon"><use xlink:href="#icon-layers"></use></svg>
<svg class="icon"><use xlink:href="#icon-layout-grid"></use></svg>
<svg class="icon"><use xlink:href="#icon-layout-hierarchy"></use></svg>
<svg class="icon"><use xlink:href="#icon-lightbulb"></use></svg>
<svg class="icon"><use xlink:href="#icon-link"></use></svg>
<svg class="icon"><use xlink:href="#icon-locate"></use></svg>
<svg class="icon"><use xlink:href="#icon-lock"></use></svg>
<svg class="icon"><use xlink:href="#icon-log-in"></use></svg>
<svg class="icon"><use xlink:href="#icon-log-out"></use></svg>
<svg class="icon"><use xlink:href="#icon-manual"></use></svg>
<svg class="icon"><use xlink:href="#icon-map-marker"></use></svg>
<svg class="icon"><use xlink:href="#icon-map"></use></svg>
<svg class="icon"><use xlink:href="#icon-maximize"></use></svg>
<svg class="icon"><use xlink:href="#icon-media"></use></svg>
<svg class="icon"><use xlink:href="#icon-menu-closed"></use></svg>
<svg class="icon"><use xlink:href="#icon-menu-open"></use></svg>
<svg class="icon"><use xlink:href="#icon-menu"></use></svg>
<svg class="icon"><use xlink:href="#icon-minimize"></use></svg>
<svg class="icon"><use xlink:href="#icon-minus"></use></svg>
<svg class="icon"><use xlink:href="#icon-mobile-video"></use></svg>
<svg class="icon"><use xlink:href="#icon-moon"></use></svg>
<svg class="icon"><use xlink:href="#icon-more"></use></svg>
<svg class="icon"><use xlink:href="#icon-mountain"></use></svg>
<svg class="icon"><use xlink:href="#icon-move"></use></svg>
<svg class="icon"><use xlink:href="#icon-mugshot"></use></svg>
<svg class="icon"><use xlink:href="#icon-multi-select"></use></svg>
<svg class="icon"><use xlink:href="#icon-music"></use></svg>
<svg class="icon"><use xlink:href="#icon-new-link"></use></svg>
<svg class="icon"><use xlink:href="#icon-new-object"></use></svg>
<svg class="icon"><use xlink:href="#icon-new-person"></use></svg>
<svg class="icon"><use xlink:href="#icon-new-text-box"></use></svg>
<svg class="icon"><use xlink:href="#icon-notifications-updated"></use></svg>
<svg class="icon"><use xlink:href="#icon-notifications"></use></svg>
<svg class="icon"><use xlink:href="#icon-numbered-list"></use></svg>
<svg class="icon"><use xlink:href="#icon-numerical"></use></svg>
<svg class="icon"><use xlink:href="#icon-office"></use></svg>
<svg class="icon"><use xlink:href="#icon-offline"></use></svg>
<svg class="icon"><use xlink:href="#icon-outdated"></use></svg>
<svg class="icon"><use xlink:href="#icon-paperclip"></use></svg>
<svg class="icon"><use xlink:href="#icon-path-search"></use></svg>
<svg class="icon"><use xlink:href="#icon-path"></use></svg>
<svg class="icon"><use xlink:href="#icon-people"></use></svg>
<svg class="icon"><use xlink:href="#icon-person"></use></svg>
<svg class="icon"><use xlink:href="#icon-phone"></use></svg>
<svg class="icon"><use xlink:href="#icon-pie-chart"></use></svg>
<svg class="icon"><use xlink:href="#icon-pin"></use></svg>
<svg class="icon"><use xlink:href="#icon-plus"></use></svg>
<svg class="icon"><use xlink:href="#icon-power"></use></svg>
<svg class="icon"><use xlink:href="#icon-predictive-analysis"></use></svg>
<svg class="icon"><use xlink:href="#icon-presentation"></use></svg>
<svg class="icon"><use xlink:href="#icon-print"></use></svg>
<svg class="icon"><use xlink:href="#icon-projects"></use></svg>
<svg class="icon"><use xlink:href="#icon-properties"></use></svg>
<svg class="icon"><use xlink:href="#icon-pulse"></use></svg>
<svg class="icon"><use xlink:href="#icon-random"></use></svg>
<svg class="icon"><use xlink:href="#icon-redo"></use></svg>
<svg class="icon"><use xlink:href="#icon-refresh"></use></svg>
<svg class="icon"><use xlink:href="#icon-remove"></use></svg>
<svg class="icon"><use xlink:href="#icon-repeat"></use></svg>
<svg class="icon"><use xlink:href="#icon-reset"></use></svg>
<svg class="icon"><use xlink:href="#icon-ring"></use></svg>
<svg class="icon"><use xlink:href="#icon-saved"></use></svg>
<svg class="icon"><use xlink:href="#icon-search-text"></use></svg>
<svg class="icon"><use xlink:href="#icon-search"></use></svg>
<svg class="icon"><use xlink:href="#icon-segmented-control"></use></svg>
<svg class="icon"><use xlink:href="#icon-selection"></use></svg>
<svg class="icon"><use xlink:href="#icon-send-to-map"></use></svg>
<svg class="icon"><use xlink:href="#icon-settings"></use></svg>
<svg class="icon"><use xlink:href="#icon-share"></use></svg>
<svg class="icon"><use xlink:href="#icon-shield"></use></svg>
<svg class="icon"><use xlink:href="#icon-shop"></use></svg>
<svg class="icon"><use xlink:href="#icon-shopping-cart"></use></svg>
<svg class="icon"><use xlink:href="#icon-small-cross"></use></svg>
<svg class="icon"><use xlink:href="#icon-small-minus"></use></svg>
<svg class="icon"><use xlink:href="#icon-small-plus"></use></svg>
<svg class="icon"><use xlink:href="#icon-small-tick"></use></svg>
<svg class="icon"><use xlink:href="#icon-social-media"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-alphabetical-desc"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-alphabetical"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-asc"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-desc"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-numerical-desc"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort-numerical"></use></svg>
<svg class="icon"><use xlink:href="#icon-sort"></use></svg>
<svg class="icon"><use xlink:href="#icon-star-empty"></use></svg>
<svg class="icon"><use xlink:href="#icon-star"></use></svg>
<svg class="icon"><use xlink:href="#icon-swap-horizontal"></use></svg>
<svg class="icon"><use xlink:href="#icon-swap-vertical"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-circle"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-cross"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-diamond"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-square"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-triangle-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-symbol-triangle-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-tag"></use></svg>
<svg class="icon"><use xlink:href="#icon-take-action"></use></svg>
<svg class="icon"><use xlink:href="#icon-taxi"></use></svg>
<svg class="icon"><use xlink:href="#icon-th"></use></svg>
<svg class="icon"><use xlink:href="#icon-thumbs-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-thumbs-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-tick-circle"></use></svg>
<svg class="icon"><use xlink:href="#icon-tick"></use></svg>
<svg class="icon"><use xlink:href="#icon-time"></use></svg>
<svg class="icon"><use xlink:href="#icon-timeline-events"></use></svg>
<svg class="icon"><use xlink:href="#icon-torch"></use></svg>
<svg class="icon"><use xlink:href="#icon-train"></use></svg>
<svg class="icon"><use xlink:href="#icon-translate"></use></svg>
<svg class="icon"><use xlink:href="#icon-trash"></use></svg>
<svg class="icon"><use xlink:href="#icon-tree"></use></svg>
<svg class="icon"><use xlink:href="#icon-trending-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-trending-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-undo"></use></svg>
<svg class="icon"><use xlink:href="#icon-unknown-vehicle"></use></svg>
<svg class="icon"><use xlink:href="#icon-unlock"></use></svg>
<svg class="icon"><use xlink:href="#icon-unpin"></use></svg>
<svg class="icon"><use xlink:href="#icon-updated"></use></svg>
<svg class="icon"><use xlink:href="#icon-upload"></use></svg>
<svg class="icon"><use xlink:href="#icon-user"></use></svg>
<svg class="icon"><use xlink:href="#icon-video"></use></svg>
<svg class="icon"><use xlink:href="#icon-volume-down"></use></svg>
<svg class="icon"><use xlink:href="#icon-volume-off"></use></svg>
<svg class="icon"><use xlink:href="#icon-volume-up"></use></svg>
<svg class="icon"><use xlink:href="#icon-walk"></use></svg>
<svg class="icon"><use xlink:href="#icon-warning-sign"></use></svg>
<svg class="icon"><use xlink:href="#icon-wrench"></use></svg>
<svg class="icon"><use xlink:href="#icon-zoom-in"></use></svg>
<svg class="icon"><use xlink:href="#icon-zoom-out"></use></svg>
<svg class="icon"><use xlink:href="#icon-zoom-to-fit"></use></svg>
