<h2>Iconography</h2>
<ul class="section-filter">
    <li data-keywords="add-to-folder">
        <svg class="icon"><use xlink:href="#icon-add-to-folder"></use></svg>
        <span>add-to-folder</span>
    </li>
    <li data-keywords="add">
        <svg class="icon"><use xlink:href="#icon-add"></use></svg>
        <span>add</span>
    </li>
    <li data-keywords="airplane">
        <svg class="icon"><use xlink:href="#icon-airplane"></use></svg>
        <span>airplane</span>
    </li>
    <li data-keywords="align-center">
        <svg class="icon"><use xlink:href="#icon-align-center"></use></svg>
        <span>align-center</span>
    </li>
    <li data-keywords="align-justify">
        <svg class="icon"><use xlink:href="#icon-align-justify"></use></svg>
        <span>align-justify</span>
    </li>
    <li data-keywords="align-left">
        <svg class="icon"><use xlink:href="#icon-align-left"></use></svg>
        <span>align-left</span>
    </li>
    <li data-keywords="align-right">
        <svg class="icon"><use xlink:href="#icon-align-right"></use></svg>
        <span>align-right</span>
    </li>
    <li data-keywords="alignment-bottom">
        <svg class="icon"><use xlink:href="#icon-alignment-bottom"></use></svg>
        <span>alignment-bottom</span>
    </li>
    <li data-keywords="application">
        <svg class="icon"><use xlink:href="#icon-application"></use></svg>
        <span>application</span>
    </li>
    <li data-keywords="applications">
        <svg class="icon"><use xlink:href="#icon-applications"></use></svg>
        <span>applications</span>
    </li>
    <li data-keywords="arrow-bottom-left">
        <svg class="icon"><use xlink:href="#icon-arrow-bottom-left"></use></svg>
        <span>arrow-bottom-left</span>
    </li>
    <li data-keywords="arrow-bottom-right">
        <svg class="icon"><use xlink:href="#icon-arrow-bottom-right"></use></svg>
        <span>arrow-bottom-right</span>
    </li>
    <li data-keywords="arrow-down">
        <svg class="icon"><use xlink:href="#icon-arrow-down"></use></svg>
        <span>arrow-down</span>
    </li>
    <li data-keywords="arrow-left">
        <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
        <span>arrow-left</span>
    </li>
    <li data-keywords="arrow-right">
        <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
        <span>arrow-right</span>
    </li>
    <li data-keywords="arrow-top-left">
        <svg class="icon"><use xlink:href="#icon-arrow-top-left"></use></svg>
        <span>arrow-top-left</span>
    </li>
    <li data-keywords="arrow-top-right">
        <svg class="icon"><use xlink:href="#icon-arrow-top-right"></use></svg>
        <span>arrow-top-right</span>
    </li>
    <li data-keywords="arrow-up">
        <svg class="icon"><use xlink:href="#icon-arrow-up"></use></svg>
        <span>arrow-up</span>
    </li>
    <li data-keywords="arrows-horizontal">
        <svg class="icon"><use xlink:href="#icon-arrows-horizontal"></use></svg>
        <span>arrows-horizontal</span>
    </li>
    <li data-keywords="arrows-vertical">
        <svg class="icon"><use xlink:href="#icon-arrows-vertical"></use></svg>
        <span>arrows-vertical</span>
    </li>
    <li data-keywords="automatic-updates">
        <svg class="icon"><use xlink:href="#icon-automatic-updates"></use></svg>
        <span>automatic-updates</span>
    </li>
    <li data-keywords="ban-circle">
        <svg class="icon"><use xlink:href="#icon-ban-circle"></use></svg>
        <span>ban-circle</span>
    </li>
    <li data-keywords="blocked-person">
        <svg class="icon"><use xlink:href="#icon-blocked-person"></use></svg>
        <span>blocked-person</span>
    </li>
    <li data-keywords="bookmark">
        <svg class="icon"><use xlink:href="#icon-bookmark"></use></svg>
        <span>bookmark</span>
    </li>
    <li data-keywords="box">
        <svg class="icon"><use xlink:href="#icon-box"></use></svg>
        <span>box</span>
    </li>
    <li data-keywords="briefcase">
        <svg class="icon"><use xlink:href="#icon-briefcase"></use></svg>
        <span>briefcase</span>
    </li>
    <li data-keywords="build">
        <svg class="icon"><use xlink:href="#icon-build"></use></svg>
        <span>build</span>
    </li>
    <li data-keywords="calendar">
        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
        <span>calendar</span>
    </li>
    <li data-keywords="camera">
        <svg class="icon"><use xlink:href="#icon-camera"></use></svg>
        <span>camera</span>
    </li>
    <li data-keywords="caret-down">
        <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
        <span>caret-down</span>
    </li>
    <li data-keywords="caret-left">
        <svg class="icon"><use xlink:href="#icon-caret-left"></use></svg>
        <span>caret-left</span>
    </li>
    <li data-keywords="caret-right">
        <svg class="icon"><use xlink:href="#icon-caret-right"></use></svg>
        <span>caret-right</span>
    </li>
    <li data-keywords="caret-up">
        <svg class="icon"><use xlink:href="#icon-caret-up"></use></svg>
        <span>caret-up</span>
    </li>
    <li data-keywords="chart">
        <svg class="icon"><use xlink:href="#icon-chart"></use></svg>
        <span>chart</span>
    </li>
    <li data-keywords="chat">
        <svg class="icon"><use xlink:href="#icon-chat"></use></svg>
        <span>chat</span>
    </li>
    <li data-keywords="chevron-down">
        <svg class="icon"><use xlink:href="#icon-chevron-down"></use></svg>
        <span>chevron-down</span>
    </li>
    <li data-keywords="chevron-forward">
        <svg class="icon"><use xlink:href="#icon-chevron-forward"></use></svg>
        <span>chevron-forward</span>
    </li>
    <li data-keywords="chevron-left">
        <svg class="icon"><use xlink:href="#icon-chevron-left"></use></svg>
        <span>chevron-left</span>
    </li>
    <li data-keywords="chevron-right">
        <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
        <span>chevron-right</span>
    </li>
    <li data-keywords="chevron-up">
        <svg class="icon"><use xlink:href="#icon-chevron-up"></use></svg>
        <span>chevron-up</span>
    </li>
    <li data-keywords="circle-arrow-down">
        <svg class="icon"><use xlink:href="#icon-circle-arrow-down"></use></svg>
        <span>circle-arrow-down</span>
    </li>
    <li data-keywords="circle-arrow-left">
        <svg class="icon"><use xlink:href="#icon-circle-arrow-left"></use></svg>
        <span>circle-arrow-left</span>
    </li>
    <li data-keywords="circle-arrow-right">
        <svg class="icon"><use xlink:href="#icon-circle-arrow-right"></use></svg>
        <span>circle-arrow-right</span>
    </li>
    <li data-keywords="circle-arrow-up">
        <svg class="icon"><use xlink:href="#icon-circle-arrow-up"></use></svg>
        <span>circle-arrow-up</span>
    </li>
    <li data-keywords="circle">
        <svg class="icon"><use xlink:href="#icon-circle"></use></svg>
        <span>circle</span>
    </li>
    <li data-keywords="clean">
        <svg class="icon"><use xlink:href="#icon-clean"></use></svg>
        <span>clean</span>
    </li>
    <li data-keywords="clipboard">
        <svg class="icon"><use xlink:href="#icon-clipboard"></use></svg>
        <span>clipboard</span>
    </li>
    <li data-keywords="cloud-download">
        <svg class="icon"><use xlink:href="#icon-cloud-download"></use></svg>
        <span>cloud-download</span>
    </li>
    <li data-keywords="cloud-upload">
        <svg class="icon"><use xlink:href="#icon-cloud-upload"></use></svg>
        <span>cloud-upload</span>
    </li>
    <li data-keywords="cloud">
        <svg class="icon"><use xlink:href="#icon-cloud"></use></svg>
        <span>cloud</span>
    </li>
    <li data-keywords="code-block">
        <svg class="icon"><use xlink:href="#icon-code-block"></use></svg>
        <span>code-block</span>
    </li>
    <li data-keywords="code">
        <svg class="icon"><use xlink:href="#icon-code"></use></svg>
        <span>code</span>
    </li>
    <li data-keywords="cog">
        <svg class="icon"><use xlink:href="#icon-cog"></use></svg>
        <span>cog</span>
    </li>
    <li data-keywords="comment">
        <svg class="icon"><use xlink:href="#icon-comment"></use></svg>
        <span>comment</span>
    </li>
    <li data-keywords="comparison">
        <svg class="icon"><use xlink:href="#icon-comparison"></use></svg>
        <span>comparison</span>
    </li>
    <li data-keywords="compressed">
        <svg class="icon"><use xlink:href="#icon-compressed"></use></svg>
        <span>compressed</span>
    </li>
    <li data-keywords="confirm">
        <svg class="icon"><use xlink:href="#icon-confirm"></use></svg>
        <span>confirm</span>
    </li>
    <li data-keywords="console">
        <svg class="icon"><use xlink:href="#icon-console"></use></svg>
        <span>console</span>
    </li>
    <li data-keywords="credit-card">
        <svg class="icon"><use xlink:href="#icon-credit-card"></use></svg>
        <span>credit-card</span>
    </li>
    <li data-keywords="cross">
        <svg class="icon"><use xlink:href="#icon-cross"></use></svg>
        <span>cross</span>
    </li>
    <li data-keywords="crown">
        <svg class="icon"><use xlink:href="#icon-crown"></use></svg>
        <span>crown</span>
    </li>
    <li data-keywords="cube">
        <svg class="icon"><use xlink:href="#icon-cube"></use></svg>
        <span>cube</span>
    </li>
    <li data-keywords="cut">
        <svg class="icon"><use xlink:href="#icon-cut"></use></svg>
        <span>cut</span>
    </li>
    <li data-keywords="dashboard">
        <svg class="icon"><use xlink:href="#icon-dashboard"></use></svg>
        <span>dashboard</span>
    </li>
    <li data-keywords="database">
        <svg class="icon"><use xlink:href="#icon-database"></use></svg>
        <span>database</span>
    </li>
    <li data-keywords="delete">
        <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
        <span>delete</span>
    </li>
    <li data-keywords="diagram-tree">
        <svg class="icon"><use xlink:href="#icon-diagram-tree"></use></svg>
        <span>diagram-tree</span>
    </li>
    <li data-keywords="disable">
        <svg class="icon"><use xlink:href="#icon-disable"></use></svg>
        <span>disable</span>
    </li>
    <li data-keywords="document">
        <svg class="icon"><use xlink:href="#icon-document"></use></svg>
        <span>document</span>
    </li>
    <li data-keywords="double-chevron-down">
        <svg class="icon"><use xlink:href="#icon-double-chevron-down"></use></svg>
        <span>double-chevron-down</span>
    </li>
    <li data-keywords="double-chevron-left">
        <svg class="icon"><use xlink:href="#icon-double-chevron-left"></use></svg>
        <span>double-chevron-left</span>
    </li>
    <li data-keywords="double-chevron-right">
        <svg class="icon"><use xlink:href="#icon-double-chevron-right"></use></svg>
        <span>double-chevron-right</span>
    </li>
    <li data-keywords="double-chevron-up">
        <svg class="icon"><use xlink:href="#icon-double-chevron-up"></use></svg>
        <span>double-chevron-up</span>
    </li>
    <li data-keywords="doughnut-chart">
        <svg class="icon"><use xlink:href="#icon-doughnut-chart"></use></svg>
        <span>doughnut-chart</span>
    </li>
    <li data-keywords="download">
        <svg class="icon"><use xlink:href="#icon-download"></use></svg>
        <span>download</span>
    </li>
    <li data-keywords="drag-handle-horizontal">
        <svg class="icon"><use xlink:href="#icon-drag-handle-horizontal"></use></svg>
        <span>drag-handle-horizontal</span>
    </li>
    <li data-keywords="drag-handle-vertical">
        <svg class="icon"><use xlink:href="#icon-drag-handle-vertical"></use></svg>
        <span>drag-handle-vertical</span>
    </li>
    <li data-keywords="draw">
        <svg class="icon"><use xlink:href="#icon-draw"></use></svg>
        <span>draw</span>
    </li>
    <li data-keywords="drive-time">
        <svg class="icon"><use xlink:href="#icon-drive-time"></use></svg>
        <span>drive-time</span>
    </li>
    <li data-keywords="duplicate">
        <svg class="icon"><use xlink:href="#icon-duplicate"></use></svg>
        <span>duplicate</span>
    </li>
    <li data-keywords="edit">
        <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
        <span>edit</span>
    </li>
    <li data-keywords="endorsed">
        <svg class="icon"><use xlink:href="#icon-endorsed"></use></svg>
        <span>endorsed</span>
    </li>
    <li data-keywords="envelope">
        <svg class="icon"><use xlink:href="#icon-envelope"></use></svg>
        <span>envelope</span>
    </li>
    <li data-keywords="error">
        <svg class="icon"><use xlink:href="#icon-error"></use></svg>
        <span>error</span>
    </li>
    <li data-keywords="export">
        <svg class="icon"><use xlink:href="#icon-export"></use></svg>
        <span>export</span>
    </li>
    <li data-keywords="eye-off">
        <svg class="icon"><use xlink:href="#icon-eye-off"></use></svg>
        <span>eye-off</span>
    </li>
    <li data-keywords="eye-on">
        <svg class="icon"><use xlink:href="#icon-eye-on"></use></svg>
        <span>eye-on</span>
    </li>
    <li data-keywords="eye-open">
        <svg class="icon"><use xlink:href="#icon-eye-open"></use></svg>
        <span>eye-open</span>
    </li>
    <li data-keywords="film">
        <svg class="icon"><use xlink:href="#icon-film"></use></svg>
        <span>film</span>
    </li>
    <li data-keywords="filter-keep">
        <svg class="icon"><use xlink:href="#icon-filter-keep"></use></svg>
        <span>filter-keep</span>
    </li>
    <li data-keywords="filter-list">
        <svg class="icon"><use xlink:href="#icon-filter-list"></use></svg>
        <span>filter-list</span>
    </li>
    <li data-keywords="filter-open">
        <svg class="icon"><use xlink:href="#icon-filter-open"></use></svg>
        <span>filter-open</span>
    </li>
    <li data-keywords="filter-remove">
        <svg class="icon"><use xlink:href="#icon-filter-remove"></use></svg>
        <span>filter-remove</span>
    </li>
    <li data-keywords="filter">
        <svg class="icon"><use xlink:href="#icon-filter"></use></svg>
        <span>filter</span>
    </li>
    <li data-keywords="flag">
        <svg class="icon"><use xlink:href="#icon-flag"></use></svg>
        <span>flag</span>
    </li>
    <li data-keywords="flame">
        <svg class="icon"><use xlink:href="#icon-flame"></use></svg>
        <span>flame</span>
    </li>
    <li data-keywords="floppy-disk">
        <svg class="icon"><use xlink:href="#icon-floppy-disk"></use></svg>
        <span>floppy-disk</span>
    </li>
    <li data-keywords="folder-close">
        <svg class="icon"><use xlink:href="#icon-folder-close"></use></svg>
        <span>folder-close</span>
    </li>
    <li data-keywords="folder-new">
        <svg class="icon"><use xlink:href="#icon-folder-new"></use></svg>
        <span>folder-new</span>
    </li>
    <li data-keywords="folder-open">
        <svg class="icon"><use xlink:href="#icon-folder-open"></use></svg>
        <span>folder-open</span>
    </li>
    <li data-keywords="fork">
        <svg class="icon"><use xlink:href="#icon-fork"></use></svg>
        <span>fork</span>
    </li>
    <li data-keywords="form">
        <svg class="icon"><use xlink:href="#icon-form"></use></svg>
        <span>form</span>
    </li>
    <li data-keywords="full-circle">
        <svg class="icon"><use xlink:href="#icon-full-circle"></use></svg>
        <span>full-circle</span>
    </li>
    <li data-keywords="gantt-chart">
        <svg class="icon"><use xlink:href="#icon-gantt-chart"></use></svg>
        <span>gantt-chart</span>
    </li>
    <li data-keywords="git-branch">
        <svg class="icon"><use xlink:href="#icon-git-branch"></use></svg>
        <span>git-branch</span>
    </li>
    <li data-keywords="git-commit">
        <svg class="icon"><use xlink:href="#icon-git-commit"></use></svg>
        <span>git-commit</span>
    </li>
    <li data-keywords="git-merge">
        <svg class="icon"><use xlink:href="#icon-git-merge"></use></svg>
        <span>git-merge</span>
    </li>
    <li data-keywords="git-new-branch">
        <svg class="icon"><use xlink:href="#icon-git-new-branch"></use></svg>
        <span>git-new-branch</span>
    </li>
    <li data-keywords="git-pull">
        <svg class="icon"><use xlink:href="#icon-git-pull"></use></svg>
        <span>git-pull</span>
    </li>
    <li data-keywords="git-push">
        <svg class="icon"><use xlink:href="#icon-git-push"></use></svg>
        <span>git-push</span>
    </li>
    <li data-keywords="git-repo">
        <svg class="icon"><use xlink:href="#icon-git-repo"></use></svg>
        <span>git-repo</span>
    </li>
    <li data-keywords="globe-network">
        <svg class="icon"><use xlink:href="#icon-globe-network"></use></svg>
        <span>globe-network</span>
    </li>
    <li data-keywords="globe">
        <svg class="icon"><use xlink:href="#icon-globe"></use></svg>
        <span>globe</span>
    </li>
    <li data-keywords="graph">
        <svg class="icon"><use xlink:href="#icon-graph"></use></svg>
        <span>graph</span>
    </li>
    <li data-keywords="grid">
        <svg class="icon"><use xlink:href="#icon-grid"></use></svg>
        <span>grid</span>
    </li>
    <li data-keywords="group-objects">
        <svg class="icon"><use xlink:href="#icon-group-objects"></use></svg>
        <span>group-objects</span>
    </li>
    <li data-keywords="grouped-bar-chart">
        <svg class="icon"><use xlink:href="#icon-grouped-bar-chart"></use></svg>
        <span>grouped-bar-chart</span>
    </li>
    <li data-keywords="hand">
        <svg class="icon"><use xlink:href="#icon-hand"></use></svg>
        <span>hand</span>
    </li>
    <li data-keywords="headset">
        <svg class="icon"><use xlink:href="#icon-headset"></use></svg>
        <span>headset</span>
    </li>
    <li data-keywords="heart">
        <svg class="icon"><use xlink:href="#icon-heart"></use></svg>
        <span>heart</span>
    </li>
    <li data-keywords="help">
        <svg class="icon"><use xlink:href="#icon-help"></use></svg>
        <span>help</span>
    </li>
    <li data-keywords="helper-management">
        <svg class="icon"><use xlink:href="#icon-helper-management"></use></svg>
        <span>helper-management</span>
    </li>
    <li data-keywords="highlight">
        <svg class="icon"><use xlink:href="#icon-highlight"></use></svg>
        <span>highlight</span>
    </li>
    <li data-keywords="history">
        <svg class="icon"><use xlink:href="#icon-history"></use></svg>
        <span>history</span>
    </li>
    <li data-keywords="home">
        <svg class="icon"><use xlink:href="#icon-home"></use></svg>
        <span>home</span>
    </li>
    <li data-keywords="horizontal-bar-chart-asc">
        <svg class="icon"><use xlink:href="#icon-horizontal-bar-chart-asc"></use></svg>
        <span>horizontal-bar-chart-asc</span>
    </li>
    <li data-keywords="horizontal-bar-chart-desc">
        <svg class="icon"><use xlink:href="#icon-horizontal-bar-chart-desc"></use></svg>
        <span>horizontal-bar-chart-desc</span>
    </li>
    <li data-keywords="horizontal-bar-chart">
        <svg class="icon"><use xlink:href="#icon-horizontal-bar-chart"></use></svg>
        <span>horizontal-bar-chart</span>
    </li>
    <li data-keywords="id-number">
        <svg class="icon"><use xlink:href="#icon-id-number"></use></svg>
        <span>id-number</span>
    </li>
    <li data-keywords="import">
        <svg class="icon"><use xlink:href="#icon-import"></use></svg>
        <span>import</span>
    </li>
    <li data-keywords="inbox">
        <svg class="icon"><use xlink:href="#icon-inbox"></use></svg>
        <span>inbox</span>
    </li>
    <li data-keywords="info-sign">
        <svg class="icon"><use xlink:href="#icon-info-sign"></use></svg>
        <span>info-sign</span>
    </li>
    <li data-keywords="insert">
        <svg class="icon"><use xlink:href="#icon-insert"></use></svg>
        <span>insert</span>
    </li>
    <li data-keywords="key-delete">
        <svg class="icon"><use xlink:href="#icon-key-delete"></use></svg>
        <span>key-delete</span>
    </li>
    <li data-keywords="key">
        <svg class="icon"><use xlink:href="#icon-key"></use></svg>
        <span>key</span>
    </li>
    <li data-keywords="known-vehicle">
        <svg class="icon"><use xlink:href="#icon-known-vehicle"></use></svg>
        <span>known-vehicle</span>
    </li>
    <li data-keywords="label">
        <svg class="icon"><use xlink:href="#icon-label"></use></svg>
        <span>label</span>
    </li>
    <li data-keywords="layer">
        <svg class="icon"><use xlink:href="#icon-layer"></use></svg>
        <span>layer</span>
    </li>
    <li data-keywords="layers">
        <svg class="icon"><use xlink:href="#icon-layers"></use></svg>
        <span>layers</span>
    </li>
    <li data-keywords="layout-grid">
        <svg class="icon"><use xlink:href="#icon-layout-grid"></use></svg>
        <span>layout-grid</span>
    </li>
    <li data-keywords="layout-hierarchy">
        <svg class="icon"><use xlink:href="#icon-layout-hierarchy"></use></svg>
        <span>layout-hierarchy</span>
    </li>
    <li data-keywords="lightbulb">
        <svg class="icon"><use xlink:href="#icon-lightbulb"></use></svg>
        <span>lightbulb</span>
    </li>
    <li data-keywords="link">
        <svg class="icon"><use xlink:href="#icon-link"></use></svg>
        <span>link</span>
    </li>
    <li data-keywords="locate">
        <svg class="icon"><use xlink:href="#icon-locate"></use></svg>
        <span>locate</span>
    </li>
    <li data-keywords="lock">
        <svg class="icon"><use xlink:href="#icon-lock"></use></svg>
        <span>lock</span>
    </li>
    <li data-keywords="log-in">
        <svg class="icon"><use xlink:href="#icon-log-in"></use></svg>
        <span>log-in</span>
    </li>
    <li data-keywords="log-out">
        <svg class="icon"><use xlink:href="#icon-log-out"></use></svg>
        <span>log-out</span>
    </li>
    <li data-keywords="manual">
        <svg class="icon"><use xlink:href="#icon-manual"></use></svg>
        <span>manual</span>
    </li>
    <li data-keywords="map-marker">
        <svg class="icon"><use xlink:href="#icon-map-marker"></use></svg>
        <span>map-marker</span>
    </li>
    <li data-keywords="map">
        <svg class="icon"><use xlink:href="#icon-map"></use></svg>
        <span>map</span>
    </li>
    <li data-keywords="maximize">
        <svg class="icon"><use xlink:href="#icon-maximize"></use></svg>
        <span>maximize</span>
    </li>
    <li data-keywords="media">
        <svg class="icon"><use xlink:href="#icon-media"></use></svg>
        <span>media</span>
    </li>
    <li data-keywords="menu-closed">
        <svg class="icon"><use xlink:href="#icon-menu-closed"></use></svg>
        <span>menu-closed</span>
    </li>
    <li data-keywords="menu-open">
        <svg class="icon"><use xlink:href="#icon-menu-open"></use></svg>
        <span>menu-open</span>
    </li>
    <li data-keywords="menu">
        <svg class="icon"><use xlink:href="#icon-menu"></use></svg>
        <span>menu</span>
    </li>
    <li data-keywords="minimize">
        <svg class="icon"><use xlink:href="#icon-minimize"></use></svg>
        <span>minimize</span>
    </li>
    <li data-keywords="minus">
        <svg class="icon"><use xlink:href="#icon-minus"></use></svg>
        <span>minus</span>
    </li>
    <li data-keywords="mobile-video">
        <svg class="icon"><use xlink:href="#icon-mobile-video"></use></svg>
        <span>mobile-video</span>
    </li>
    <li data-keywords="moon">
        <svg class="icon"><use xlink:href="#icon-moon"></use></svg>
        <span>moon</span>
    </li>
    <li data-keywords="more">
        <svg class="icon"><use xlink:href="#icon-more"></use></svg>
        <span>more</span>
    </li>
    <li data-keywords="mountain">
        <svg class="icon"><use xlink:href="#icon-mountain"></use></svg>
        <span>mountain</span>
    </li>
    <li data-keywords="move">
        <svg class="icon"><use xlink:href="#icon-move"></use></svg>
        <span>move</span>
    </li>
    <li data-keywords="mugshot">
        <svg class="icon"><use xlink:href="#icon-mugshot"></use></svg>
        <span>mugshot</span>
    </li>
    <li data-keywords="multi-select">
        <svg class="icon"><use xlink:href="#icon-multi-select"></use></svg>
        <span>multi-select</span>
    </li>
    <li data-keywords="music">
        <svg class="icon"><use xlink:href="#icon-music"></use></svg>
        <span>music</span>
    </li>
    <li data-keywords="new-link">
        <svg class="icon"><use xlink:href="#icon-new-link"></use></svg>
        <span>new-link</span>
    </li>
    <li data-keywords="new-object">
        <svg class="icon"><use xlink:href="#icon-new-object"></use></svg>
        <span>new-object</span>
    </li>
    <li data-keywords="new-person">
        <svg class="icon"><use xlink:href="#icon-new-person"></use></svg>
        <span>new-person</span>
    </li>
    <li data-keywords="new-text-box">
        <svg class="icon"><use xlink:href="#icon-new-text-box"></use></svg>
        <span>new-text-box</span>
    </li>
    <li data-keywords="notifications-updated">
        <svg class="icon"><use xlink:href="#icon-notifications-updated"></use></svg>
        <span>notifications-updated</span>
    </li>
    <li data-keywords="notifications">
        <svg class="icon"><use xlink:href="#icon-notifications"></use></svg>
        <span>notifications</span>
    </li>
    <li data-keywords="numbered-list">
        <svg class="icon"><use xlink:href="#icon-numbered-list"></use></svg>
        <span>numbered-list</span>
    </li>
    <li data-keywords="numerical">
        <svg class="icon"><use xlink:href="#icon-numerical"></use></svg>
        <span>numerical</span>
    </li>
    <li data-keywords="office">
        <svg class="icon"><use xlink:href="#icon-office"></use></svg>
        <span>office</span>
    </li>
    <li data-keywords="offline">
        <svg class="icon"><use xlink:href="#icon-offline"></use></svg>
        <span>offline</span>
    </li>
    <li data-keywords="outdated">
        <svg class="icon"><use xlink:href="#icon-outdated"></use></svg>
        <span>outdated</span>
    </li>
    <li data-keywords="paperclip">
        <svg class="icon"><use xlink:href="#icon-paperclip"></use></svg>
        <span>paperclip</span>
    </li>
    <li data-keywords="path-search">
        <svg class="icon"><use xlink:href="#icon-path-search"></use></svg>
        <span>path-search</span>
    </li>
    <li data-keywords="path">
        <svg class="icon"><use xlink:href="#icon-path"></use></svg>
        <span>path</span>
    </li>
    <li data-keywords="people">
        <svg class="icon"><use xlink:href="#icon-people"></use></svg>
        <span>people</span>
    </li>
    <li data-keywords="person">
        <svg class="icon"><use xlink:href="#icon-person"></use></svg>
        <span>person</span>
    </li>
    <li data-keywords="phone">
        <svg class="icon"><use xlink:href="#icon-phone"></use></svg>
        <span>phone</span>
    </li>
    <li data-keywords="pie-chart">
        <svg class="icon"><use xlink:href="#icon-pie-chart"></use></svg>
        <span>pie-chart</span>
    </li>
    <li data-keywords="pin">
        <svg class="icon"><use xlink:href="#icon-pin"></use></svg>
        <span>pin</span>
    </li>
    <li data-keywords="plus">
        <svg class="icon"><use xlink:href="#icon-plus"></use></svg>
        <span>plus</span>
    </li>
    <li data-keywords="power">
        <svg class="icon"><use xlink:href="#icon-power"></use></svg>
        <span>power</span>
    </li>
    <li data-keywords="predictive-analysis">
        <svg class="icon"><use xlink:href="#icon-predictive-analysis"></use></svg>
        <span>predictive-analysis</span>
    </li>
    <li data-keywords="presentation">
        <svg class="icon"><use xlink:href="#icon-presentation"></use></svg>
        <span>presentation</span>
    </li>
    <li data-keywords="print">
        <svg class="icon"><use xlink:href="#icon-print"></use></svg>
        <span>print</span>
    </li>
    <li data-keywords="projects">
        <svg class="icon"><use xlink:href="#icon-projects"></use></svg>
        <span>projects</span>
    </li>
    <li data-keywords="properties">
        <svg class="icon"><use xlink:href="#icon-properties"></use></svg>
        <span>properties</span>
    </li>
    <li data-keywords="pulse">
        <svg class="icon"><use xlink:href="#icon-pulse"></use></svg>
        <span>pulse</span>
    </li>
    <li data-keywords="random">
        <svg class="icon"><use xlink:href="#icon-random"></use></svg>
        <span>random</span>
    </li>
    <li data-keywords="redo">
        <svg class="icon"><use xlink:href="#icon-redo"></use></svg>
        <span>redo</span>
    </li>
    <li data-keywords="refresh">
        <svg class="icon"><use xlink:href="#icon-refresh"></use></svg>
        <span>refresh</span>
    </li>
    <li data-keywords="remove">
        <svg class="icon"><use xlink:href="#icon-remove"></use></svg>
        <span>remove</span>
    </li>
    <li data-keywords="repeat">
        <svg class="icon"><use xlink:href="#icon-repeat"></use></svg>
        <span>repeat</span>
    </li>
    <li data-keywords="reset">
        <svg class="icon"><use xlink:href="#icon-reset"></use></svg>
        <span>reset</span>
    </li>
    <li data-keywords="ring">
        <svg class="icon"><use xlink:href="#icon-ring"></use></svg>
        <span>ring</span>
    </li>
    <li data-keywords="saved">
        <svg class="icon"><use xlink:href="#icon-saved"></use></svg>
        <span>saved</span>
    </li>
    <li data-keywords="search-text">
        <svg class="icon"><use xlink:href="#icon-search-text"></use></svg>
        <span>search-text</span>
    </li>
    <li data-keywords="search">
        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
        <span>search</span>
    </li>
    <li data-keywords="segmented-control">
        <svg class="icon"><use xlink:href="#icon-segmented-control"></use></svg>
        <span>segmented-control</span>
    </li>
    <li data-keywords="selection">
        <svg class="icon"><use xlink:href="#icon-selection"></use></svg>
        <span>selection</span>
    </li>
    <li data-keywords="send-to-map">
        <svg class="icon"><use xlink:href="#icon-send-to-map"></use></svg>
        <span>send-to-map</span>
    </li>
    <li data-keywords="settings">
        <svg class="icon"><use xlink:href="#icon-settings"></use></svg>
        <span>settings</span>
    </li>
    <li data-keywords="share">
        <svg class="icon"><use xlink:href="#icon-share"></use></svg>
        <span>share</span>
    </li>
    <li data-keywords="shield">
        <svg class="icon"><use xlink:href="#icon-shield"></use></svg>
        <span>shield</span>
    </li>
    <li data-keywords="shop">
        <svg class="icon"><use xlink:href="#icon-shop"></use></svg>
        <span>shop</span>
    </li>
    <li data-keywords="shopping-cart">
        <svg class="icon"><use xlink:href="#icon-shopping-cart"></use></svg>
        <span>shopping-cart</span>
    </li>
    <li data-keywords="small-cross">
        <svg class="icon"><use xlink:href="#icon-small-cross"></use></svg>
        <span>small-cross</span>
    </li>
    <li data-keywords="small-minus">
        <svg class="icon"><use xlink:href="#icon-small-minus"></use></svg>
        <span>small-minus</span>
    </li>
    <li data-keywords="small-plus">
        <svg class="icon"><use xlink:href="#icon-small-plus"></use></svg>
        <span>small-plus</span>
    </li>
    <li data-keywords="small-tick">
        <svg class="icon"><use xlink:href="#icon-small-tick"></use></svg>
        <span>small-tick</span>
    </li>
    <li data-keywords="social-media">
        <svg class="icon"><use xlink:href="#icon-social-media"></use></svg>
        <span>social-media</span>
    </li>
    <li data-keywords="sort-alphabetical-desc">
        <svg class="icon"><use xlink:href="#icon-sort-alphabetical-desc"></use></svg>
        <span>sort-alphabetical-desc</span>
    </li>
    <li data-keywords="sort-alphabetical">
        <svg class="icon"><use xlink:href="#icon-sort-alphabetical"></use></svg>
        <span>sort-alphabetical</span>
    </li>
    <li data-keywords="sort-asc">
        <svg class="icon"><use xlink:href="#icon-sort-asc"></use></svg>
        <span>sort-asc</span>
    </li>
    <li data-keywords="sort-desc">
        <svg class="icon"><use xlink:href="#icon-sort-desc"></use></svg>
        <span>sort-desc</span>
    </li>
    <li data-keywords="sort-numerical-desc">
        <svg class="icon"><use xlink:href="#icon-sort-numerical-desc"></use></svg>
        <span>sort-numerical-desc</span>
    </li>
    <li data-keywords="sort-numerical">
        <svg class="icon"><use xlink:href="#icon-sort-numerical"></use></svg>
        <span>sort-numerical</span>
    </li>
    <li data-keywords="sort">
        <svg class="icon"><use xlink:href="#icon-sort"></use></svg>
        <span>sort</span>
    </li>
    <li data-keywords="star-empty">
        <svg class="icon"><use xlink:href="#icon-star-empty"></use></svg>
        <span>star-empty</span>
    </li>
    <li data-keywords="star">
        <svg class="icon"><use xlink:href="#icon-star"></use></svg>
        <span>star</span>
    </li>
    <li data-keywords="swap-horizontal">
        <svg class="icon"><use xlink:href="#icon-swap-horizontal"></use></svg>
        <span>swap-horizontal</span>
    </li>
    <li data-keywords="swap-vertical">
        <svg class="icon"><use xlink:href="#icon-swap-vertical"></use></svg>
        <span>swap-vertical</span>
    </li>
    <li data-keywords="symbol-circle">
        <svg class="icon"><use xlink:href="#icon-symbol-circle"></use></svg>
        <span>symbol-circle</span>
    </li>
    <li data-keywords="symbol-cross">
        <svg class="icon"><use xlink:href="#icon-symbol-cross"></use></svg>
        <span>symbol-cross</span>
    </li>
    <li data-keywords="symbol-diamond">
        <svg class="icon"><use xlink:href="#icon-symbol-diamond"></use></svg>
        <span>symbol-diamond</span>
    </li>
    <li data-keywords="symbol-square">
        <svg class="icon"><use xlink:href="#icon-symbol-square"></use></svg>
        <span>symbol-square</span>
    </li>
    <li data-keywords="symbol-triangle-down">
        <svg class="icon"><use xlink:href="#icon-symbol-triangle-down"></use></svg>
        <span>symbol-triangle-down</span>
    </li>
    <li data-keywords="symbol-triangle-up">
        <svg class="icon"><use xlink:href="#icon-symbol-triangle-up"></use></svg>
        <span>symbol-triangle-up</span>
    </li>
    <li data-keywords="tag">
        <svg class="icon"><use xlink:href="#icon-tag"></use></svg>
        <span>tag</span>
    </li>
    <li data-keywords="take-action">
        <svg class="icon"><use xlink:href="#icon-take-action"></use></svg>
        <span>take-action</span>
    </li>
    <li data-keywords="taxi">
        <svg class="icon"><use xlink:href="#icon-taxi"></use></svg>
        <span>taxi</span>
    </li>
    <li data-keywords="th">
        <svg class="icon"><use xlink:href="#icon-th"></use></svg>
        <span>th</span>
    </li>
    <li data-keywords="thumbs-down">
        <svg class="icon"><use xlink:href="#icon-thumbs-down"></use></svg>
        <span>thumbs-down</span>
    </li>
    <li data-keywords="thumbs-up">
        <svg class="icon"><use xlink:href="#icon-thumbs-up"></use></svg>
        <span>thumbs-up</span>
    </li>
    <li data-keywords="tick-circle">
        <svg class="icon"><use xlink:href="#icon-tick-circle"></use></svg>
        <span>tick-circle</span>
    </li>
    <li data-keywords="tick">
        <svg class="icon"><use xlink:href="#icon-tick"></use></svg>
        <span>tick</span>
    </li>
    <li data-keywords="time">
        <svg class="icon"><use xlink:href="#icon-time"></use></svg>
        <span>time</span>
    </li>
    <li data-keywords="timeline-events">
        <svg class="icon"><use xlink:href="#icon-timeline-events"></use></svg>
        <span>timeline-events</span>
    </li>
    <li data-keywords="torch">
        <svg class="icon"><use xlink:href="#icon-torch"></use></svg>
        <span>torch</span>
    </li>
    <li data-keywords="train">
        <svg class="icon"><use xlink:href="#icon-train"></use></svg>
        <span>train</span>
    </li>
    <li data-keywords="translate">
        <svg class="icon"><use xlink:href="#icon-translate"></use></svg>
        <span>translate</span>
    </li>
    <li data-keywords="trash">
        <svg class="icon"><use xlink:href="#icon-trash"></use></svg>
        <span>trash</span>
    </li>
    <li data-keywords="tree">
        <svg class="icon"><use xlink:href="#icon-tree"></use></svg>
        <span>tree</span>
    </li>
    <li data-keywords="trending-down">
        <svg class="icon"><use xlink:href="#icon-trending-down"></use></svg>
        <span>trending-down</span>
    </li>
    <li data-keywords="trending-up">
        <svg class="icon"><use xlink:href="#icon-trending-up"></use></svg>
        <span>trending-up</span>
    </li>
    <li data-keywords="undo">
        <svg class="icon"><use xlink:href="#icon-undo"></use></svg>
        <span>undo</span>
    </li>
    <li data-keywords="unknown-vehicle">
        <svg class="icon"><use xlink:href="#icon-unknown-vehicle"></use></svg>
        <span>unknown-vehicle</span>
    </li>
    <li data-keywords="unlock">
        <svg class="icon"><use xlink:href="#icon-unlock"></use></svg>
        <span>unlock</span>
    </li>
    <li data-keywords="unpin">
        <svg class="icon"><use xlink:href="#icon-unpin"></use></svg>
        <span>unpin</span>
    </li>
    <li data-keywords="updated">
        <svg class="icon"><use xlink:href="#icon-updated"></use></svg>
        <span>updated</span>
    </li>
    <li data-keywords="upload">
        <svg class="icon"><use xlink:href="#icon-upload"></use></svg>
        <span>upload</span>
    </li>
    <li data-keywords="user">
        <svg class="icon"><use xlink:href="#icon-user"></use></svg>
        <span>user</span>
    </li>
    <li data-keywords="video">
        <svg class="icon"><use xlink:href="#icon-video"></use></svg>
        <span>video</span>
    </li>
    <li data-keywords="volume-down">
        <svg class="icon"><use xlink:href="#icon-volume-down"></use></svg>
        <span>volume-down</span>
    </li>
    <li data-keywords="volume-off">
        <svg class="icon"><use xlink:href="#icon-volume-off"></use></svg>
        <span>volume-off</span>
    </li>
    <li data-keywords="volume-up">
        <svg class="icon"><use xlink:href="#icon-volume-up"></use></svg>
        <span>volume-up</span>
    </li>
    <li data-keywords="walk">
        <svg class="icon"><use xlink:href="#icon-walk"></use></svg>
        <span>walk</span>
    </li>
    <li data-keywords="warning-sign">
        <svg class="icon"><use xlink:href="#icon-warning-sign"></use></svg>
        <span>warning-sign</span>
    </li>
    <li data-keywords="wrench">
        <svg class="icon"><use xlink:href="#icon-wrench"></use></svg>
        <span>wrench</span>
    </li>
    <li data-keywords="zoom-in">
        <svg class="icon"><use xlink:href="#icon-zoom-in"></use></svg>
        <span>zoom-in</span>
    </li>
    <li data-keywords="zoom-out">
        <svg class="icon"><use xlink:href="#icon-zoom-out"></use></svg>
        <span>zoom-out</span>
    </li>
    <li data-keywords="zoom-to-fit">
        <svg class="icon"><use xlink:href="#icon-zoom-to-fit"></use></svg>
        <span>zoom-to-fit</span>
    </li>
</ul>