<h2>Typography</h2>
<p>Use typography to present your design and content as clearly and efficiently as possible.</p>
<hr>
<label>H1</label>
<h1>The quick brown fox</h1>
<p><code>font-weight: lighter</code> <code>font-size: 2.8rem</code></p>
<hr>
<label>H2</label>
<h2>Jumps over the lazy dog</h2>
<p><code>font-weight: lighter</code> <code>font-size: 2.2rem</code></p>
<hr>
<label>H3</label>
<h3>The quick brown fox</h3>
<p><code>font-weight: normal</code> <code>font-size: 1.8rem</code></p>
<hr>
<label>H4</label>
<h4>Jumps over the lazy dog</h4>
<p><code>font-weight: normal</code> <code>font-size: 1.4rem</code></p>
<hr>
<label>P</label>
<p>Fusce ad eros nulla elementum eros eu id lobortis risus a consectetur feugiat a a. Quis ut tincidunt ad platea senectus habitasse est amet ad imperdiet malesuada massa a fames sem pulvinar id cubilia. Platea a primis litora platea a a nam vestibulum a sed dictum class diam leo.</p>
<p><code>font-weight: normal</code> <code>font-size: 1rem</code></p>
<hr>