.section-iconography {
    ul {
        display: block;
        font-size: 0;
        padding: 2rem;
        @include themify($themes) {
            background: darken(themed('background'), 5%);
        }
    }
    li {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        padding: 2rem 1rem;
        text-align: center;
        span {
            display: block;
            font-size: .7rem;
            white-space: nowrap;
            margin-top: .3rem;
        }
        svg {
            height: 2rem;
            width: 2rem;
        }
    }
}