[data-intent=default] {
    @include themify($themes) {
        fill: rgba(themed('background'), 0.8);
        color: rgba(themed('background'), 0.8);
        background: darken(themed('text'), 5%);
    }
}
[data-intent=primary] {
    @include themify($themes) {
        fill: lighten(themed('primary'), 60%);
        color: lighten(themed('primary'), 60%);
        background: darken(themed('primary'), 5%);
    }
}
[data-intent=success] {
    @include themify($themes) {
        fill: lighten(themed('success'), 60%);
        color: lighten(themed('success'), 60%);
        background: darken(themed('success'), 5%);
    }
}
[data-intent=danger] {
    @include themify($themes) {
        fill: lighten(themed('danger'), 60%);
        color: lighten(themed('danger'), 60%);
        background: darken(themed('danger'), 5%);
    }
}
[data-intent=info] {
    @include themify($themes) {
        fill: lighten(themed('info'), 60%);
        color: lighten(themed('info'), 60%);
        background: darken(themed('info'), 5%);
    }
}
[data-intent=warning] {
    @include themify($themes) {
        fill: lighten(themed('warning'), 60%);
        color: lighten(themed('warning'), 60%);
        background: darken(themed('warning'), 5%);
    }
}