.toast {
    position: relative;
    width: 100%;
    max-width: 22rem;
    padding: .83rem 1.5rem .83rem 5rem;
    border-radius: .2rem;
    cursor: default;
    transition: all .15s ease-in-out;

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.6rem;
        height: 1.6rem;
        padding: 0.3rem;
        cursor: pointer;
        @include themify($themes) {
            fill: inherit;
        }
    }

    &-icon {
        position: absolute;
        top: 50%;
        left: 1rem;
        width: 3rem;
        height: 1.43rem;
        transform: translateY(-50%);
        @include themify($themes) {
            fill: inherit;
        }
    }

    &-title {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: bold;
        fill: inherit;
    }

    &-text {
        font-size: .83rem;
        line-height: 1.5;
        margin: 0;
        fill: inherit;
    }

    &-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 0;
        padding: 2rem;
        z-index: 100;

        &:hover .toast:not(:hover) {
            opacity: .5;
        }
    }

    &-item {
        display: block;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        &:nth-child(n+1) .toast {
            opacity: 1;
        }
        &:nth-child(n+2) .toast {
            opacity: .9;
        }
        &:nth-child(n+3) .toast {
            opacity: .8;
        }
        &:nth-child(-n+3):hover .toast {
            opacity: 1;
        }
        &:nth-child(n+4) {
            opacity: 0;
            visibility: hidden;
        }
    }
}