section, .section {
    position: relative;
    padding: 3rem 5rem;
    @include themify($themes) {
        color: themed('text');
        background: themed('background');
    }

    &-wrap {
        margin: 2rem 0 4rem;
    }
}